<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="panel-title">
          <h4>Cadastro de Despesas</h4>
      </div>
      </div><!--.panel-heading-->
      <div class="panel-body">
		<%= render 'form', despesa: @despesa %>
      </div><!--.panel-body-->
    </div><!--.panel-->
  </div><!--.col-md-12-->
</div>