<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="panel-title">
          <h4>Relatório de Desempenho</h4>
        </div>
        <form method="get" action="/relatorios/desempenho" class="form-horizontal">
	        <div class="row example-row">
	            <div class="col-md-12" align="center">

	            <select class="selectpicker col-md-6" data-live-search="true" name="veiculo" required >
	              <option value="-1">Selecione um veículo</option>
	              <% @veiculos.sort_by(&:nome).each do |veiculo| %>
	                <option value="<%=veiculo.id %>"><%=veiculo.nome %></option>
	              <% end %>
	            </select>
	            
	            <input type="submit" class="btn btn-blue btn-ripple" value="Gerar">
	            </div> 
	        </div>
	    </form>

      </div><!--.panel-heading-->
      <div class="panel-body">
        <div class="unseen">
          
          	<% if @veiculo_relatorio.nil? %>
	          	</br>
		        	<h2 align="center">Não há dados para mostrar</h2>
		    	</br>
		    <% else %>
		    	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		        <script type="text/javascript">
		          // VARIAVEIS DEFAULT
		          var customColors = ['#3366CC','#DC3912','#FF9900','#109618','#990099','#3B3EAC','#0099C6','#DD4477','#66AA00','#B82E2E','#316395','#994499','#22AA99','#AAAA11','#6633CC','#E67300','#8B0707','#329262','#5574A6','#3B3EAC'];
		          var defaultWidth = 1175;
		          var defaultHeight = 700;
		        </script>
		        <div id="chart_div" z ></div>
		        <script type="text/javascript">
		          google.charts.load('current', {packages: ['corechart', 'bar']});
		          google.charts.setOnLoadCallback(drawStacked);

		          function drawStacked() {
		            var data = new google.visualization.DataTable();
		            var dias = [];
		            var equipes = [];
		            var qtd= [];
		            var add=false;
		            var versaoSelecionada='';

		            data.addColumn('string', 'Equipes');
		            //Adiciona colunas conforme a quantidade de dias com registro.
		              
		            var options = {
		              colors: customColors,
		              title: 'Relatório de Desempenjo - Veículo ' ,
		              legend:'top',
		              width:defaultWidth,
		              height:defaultHeight,
		              bar: {groupWidth: "85%"},
		              chartArea:{width:"90%",height:"70%"},
		              hAxis: {
		                slantedText:true,
		                slantedTextAngle:25,
		              }
		            };
		              
		            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
		            chart.draw(data, options);
		          }
		        </script>
	    	<% end %>
        </div><!--.unseen-->
      </div><!--.panel-body-->
    </div><!--.panel-->
  </div><!--.col-md-12-->
</div>