<div class="row">
	<a href="/relatorios/desempenho">
		<div class="col-md-3 col-sm-6">
			<div class="card card-dashboard-info card-orange">
				<div class="card-body">
					<div class="card-icon"><i class="fa fa-calculator"></i></div> 
					<h4>Relatório de Desempenho</h4>
					<p class="result">Relatório de desempenho</p>
					<small>Acompanhe o desempenho</small>
				</div>
			</div> 
		</div> 
	</a>

	<a href="/calcflex">
		<div class="col-md-3 col-sm-6">
			<div class="card card-dashboard-info card-orange">
				<div class="card-body">
					<div class="card-icon"><i class="fa fa-calculator"></i></div> 
					<h4>Relatório de Gastos</h4>
					<p class="result">Relatório de Gastos</p>
					<small>Acompanhe os gastos</small>
				</div>
			</div> 
		</div> 
	</a>
	
	<a href="/calcflex">
		<div class="col-md-3 col-sm-6">
			<div class="card card-dashboard-info card-orange">
				<div class="card-body">
					<div class="card-icon"><i class="fa fa-calculator"></i></div> 
					<h4>Relatório de Abastecimentos</h4>
					<p class="result">Relatório de Abastecimentos</p>
					<small>Acompanhe os abastecimentos</small>
				</div>
			</div> 
		</div> 
	</a>

	<a href="/calcflex">
		<div class="col-md-3 col-sm-6">
			<div class="card card-dashboard-info card-orange">
				<div class="card-body">
					<div class="card-icon"><i class="fa fa-calculator"></i></div> 
					<h4>Relatório de Despesas</h4>
					<p class="result">Relatório de Despesas</p>
					<small>Acompanhe as despesas</small>
				</div>
			</div> 
		</div> 
	</a>
</div>

<div class="row">
	<a href="/calcflex">
		<div class="col-md-3 col-sm-6">
			<div class="card card-dashboard-info card-orange">
				<div class="card-body">
					<div class="card-icon"><i class="fa fa-calculator"></i></div> 
					<h4>Relatório de Impostos</h4>
					<p class="result">Relatório de Impostos</p>
					<small>Acompanhe os impostos</small>
				</div>
			</div> 
		</div> 
	</a>

	<a href="/calcflex">
		<div class="col-md-3 col-sm-6">
			<div class="card card-dashboard-info card-orange">
				<div class="card-body">
					<div class="card-icon"><i class="fa fa-calculator"></i></div> 
					<h4>Relatório de Manutenções</h4>
					<p class="result">Relatório de manutenções</p>
					<small>Acompanhe as manutenções</small>
				</div>
			</div> 
		</div> 
	</a>

	<a href="/calcflex">
		<div class="col-md-3 col-sm-6">
			<div class="card card-dashboard-info card-orange">
				<div class="card-body">
					<div class="card-icon"><i class="fa fa-calculator"></i></div> 
					<h4>Resumo</h4>
					<p class="result">Resumo dos ultimos 30 dias</p>
					<small>ultimos 30 dias</small>
				</div>
			</div> 
		</div> 
	</a>

	<a href="/calcflex">
		<div class="col-md-3 col-sm-6">
			<div class="card card-dashboard-info card-orange">
				<div class="card-body">
					<div class="card-icon"><i class="fa fa-calculator"></i></div> 
					<h4>Teste</h4>
					<p class="result">Teste</p>
					<small>ultimos 30 dias</small>
				</div>
			</div> 
		</div> 
	</a>
</div>