<div class="row">
	<a href="/veiculos">
		<div class="col-md-3">
			<div class="card card-iconic card-green">
				<div class="card-full-icon ion-android-car"></div>

				<div class="card-body text-left">
					<i class="card-icon ion-android-car"></i>
					<h4>Veículos</h4>
					<p><%= Veiculo.count %> Véiculos cadastrados.</p>
				</div><!--.card-body-->

			</div><!--.card-->
		</div><!--.col-md-3-->
	</a>

</div><!--.row-->
