<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @formaspagamento.nome %>
</p>

<%= link_to 'Edit', edit_formaspagamento_path(@formaspagamento) %> |
<%= link_to 'Back', formaspagamentos_path %>
