<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @tiposveiculo.nome %>
</p>

<%= link_to 'Edit', edit_tiposveiculo_path(@tiposveiculo) %> |
<%= link_to 'Back', tiposveiculos_path %>
